footer{
    background: rgb(59, 59, 59);
    height: 200px;
}

footer .icons > div{
    border: 5px solid white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .icons > div:hover{
    transform: rotateZ(180deg);
    color: black;
}

.icons{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

