@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

@import "messageBar.css";
@import "slider.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}
