@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import "navbar.css";
@import "slider.css";

body{
   font-family: 'Noto Sans JP', sans-serif;
   line-height: 1.6;
   color: white;
}

.container{
   background-color: grey;
   margin: 0 auto;
   max-width: 1110px;
   padding: 0px 40px;
   height: 100px;   
}

.flex{
 display: flex;
 justify-content: space-between;

}

  
h1{
   
   line-height: 1.2;
   margin: auto 0;
   font-size: 40px;
   font-weight: 300;
}


*{
   
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

