@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

@import "messageBar.css";
@import "slider.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}
