.navbar
{
   
    background-color: grey;
}






nav {
    display: flex;
    align-items: center;
 }
 ul
 {
   
    list-style-type: none;
    
 }
 
 li{
    display: inline-block;
 }

 
 li a {
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 1rem;
    background-color: rgb(255, 83, 83);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 grey;
    color: white;
    border: none;
    transition: ease-out 0.3s;
    padding: 10px;
 }
 
 li a:hover
 {
    box-shadow: inset 300px 0 0 0 grey;
    color: rgb(255, 83, 83);
 }
 
 