@use "var";
#form {
  display: flex;
  .form {
    background-color: var.$formRed;
    width: 100%;
    @mixin textStyle($width, $align) {
      margin: 0px auto;
      margin-top: 500px;
      max-width: $width;
      text-align: $align;
      @media screen and (max-width: 700px) {
        margin: 0 50px;
        margin-top: 500px;
      }

      h1 {
        font-size: clamp(1rem, 7vw, 3rem);
        font-weight: bolder;
      }
      p {
        font-size: clamp(20px, 2vw, 2rem);
        color: rgb(59, 51, 51);
      }
    }
    &_WWA {
      @include textStyle(500px, center);
    }
    &_KIT {
      @include textStyle(800px, left);
    }
    form {
      margin: 200px 0;
      .form_ld {
        background-color: blue;
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}
