@use "var";
@mixin splitup() {
  display: flex;
  justify-content: space-between;
}
@mixin hoverSquare($color) {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: $color;
  box-shadow: 1px 1px 10px 1px;
  transition: all 0.2s ease-in-out;
}
.nav {
  position: relative;

  &_gridBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    @for $i from 1 through 13 {
      div:nth-child(#{$i}) {
        flex: 1 0 auto;
        background-color: rgb(20 * $i, 10 * $i, 10 * $i);
        opacity: 0;
        animation: showUp #{$i/10}s ease-in-out;
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
    @keyframes showUp {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  background-color: grey;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 96;
  &_container {
    margin: 0px auto;
    @include splitup();
    width: 90%;
    &_title {
      h1 {
        position: relative;
        flex: 1 0 auto;
        text-align: center;
        transition: color 0.4s ease-in-out;

        & .container {
          position: absolute;
          top: 45%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10px;
          & > div {
            display: none;
            position: relative;
            width: 0px;
            border: 4px solid var.$myRed;
            box-sizing: border-box;
            border-radius: 9999px;
            transition: all 0.1s ease-in-out;
          }
          & > div:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }
        &:hover .container > div {
          display: block;
          animation: hoverLetter 0.4s ease-in-out;
          animation-fill-mode: forwards;
        }
        &:hover {
          color: var.$myRed;
        }
        @keyframes hoverLetter {
          0% {
            width: 0px;
            opacity: 0;
          }
          25% {
            width: 10px;
            opacity: 1;
          }
          100% {
            width: 40px;
            opacity: 0;
          }
        }
      }
      width: 200px;
      padding: 10px auto;
      @include splitup();
    }

    nav {
      div {
        list-style-type: none;
        height: 100%;
        .options {
          width: 300px;
          height: 100%;
          @include splitup();
          li {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:after {
              @include hoverSquare(var.$myRed);
              top: 0;
              left: 0;
            }
            &::before {
              @include hoverSquare(var.$otherRed);
              bottom: 0;
              right: 0;
            }
            &:hover::before {
              width: 100%;
              height: 100%;
            }
            &:hover::after {
              width: 100%;
              height: 100%;
            }
            a {
              text-decoration: none;
              color: white;
              z-index: 99;
            }
          }
        }
      }
      @media (max-width: 800px) {
        #hamburguer {
          display: flex;
          flex-direction: column;
          width: 50px;
          height: 100%;
          z-index: 99;
          justify-content: space-around;
          cursor: pointer;

          .line {
            width: 100&;
            height: 3px;

            background-color: white;
          }
        }
        #hamburguer + div {
          position: fixed;

          bottom: 0;
          left: 0;
          background-color: grey;
          height: 100%;
          width: 100%;

          transition: all 1s ease-in-out;
          z-index: 98;

          clip-path: circle(100px at 90% 0%);
          -webkit-clip-path: circle(0px at 100% 0%);
          .options {
            position: fixed;
            top: 50px;
            right: 100px;
            height: 300px;
            flex-direction: column;

            li a {
              font-size: 2rem;
            }
          }
        }
        #hamburguer + div.open {
          clip-path: circle(100px at 90% 0%);
          -webkit-clip-path: circle(500px at 90% 0%);
        }

        #hamburguer > .move:first-child {
          animation: line1 1s ease-in-out;
          animation-fill-mode: forwards;
        }
        #hamburguer > .move:nth-child(3) {
          animation: line3 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }
        #hamburguer > .move:nth-child(2) {
          animation: line2 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }
        @keyframes line1 {
          0% {
            transform: translateY(0px) rotateZ(180deg);
          }
          100% {
            transform: translateY(15px) rotateZ(45deg);
          }
        }
        @keyframes line2 {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes line3 {
          0% {
            transform: translateY(0px) rotateZ(180deg);
          }
          100% {
            transform: translateY(-20px) rotateZ(-45deg);
          }
        }
      }
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
