@use "var";
@use "navbar";
@use "form";
@use "icons";
@use "Sbackground";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  color: white;
  background: var.$myRed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}
